@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
--foreground-rgb: 0, 0, 0;
--background-start-rgb: 214, 219, 220;
--background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
:root {
--foreground-rgb: 255, 255, 255;
--background-start-rgb: 0, 0, 0;
--background-end-rgb: 0, 0, 0;
}
}


@media (max-width: 768px) {
.res-container {
grid-template-columns: 1fr;
grid-template-rows: 10% 30% 30% 10%;
grid-template-areas:"header" "sidebar" "main" "section" "content" "footer"
}
}


.res-container {
display: grid;
gap: 5px;
margin: 14px;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr 2fr 2fr 1fr;
grid-template-areas:
"header header header"
"sidebar main main"
"sidebar section content"
"footer footer footer";
}


body {
margin: 0;
padding: 0;
color: black;
background: transparent;
}


.wp_text_container {
/* text-align: center; Horizontal centering */
margin-left: 300px; /* Adjust the left margin */
padding-right: 10px; /* Adjust the right padding */
display: flex; /* Use Flexbox for layout */
align-items: center; /* Vertically align the content */
/*display: inline-block;*/
}


.name_text_container {
/* text-align: center; Horizontal centering */
margin-left: 300px; /* Adjust the left margin */
padding-right: 10px; /* Adjust the right padding */
margin-bottom: 50px;
}


.button-container
{
display: flex;
flex-direction: column;
align-items: center;
gap: 35px; /* Vertical margin between buttons */
}


.button-additional-container
{
display: flex;
flex-direction: column;
align-items: center;
gap: 35px; /* Vertical margin between buttons */
}


.custom-button
{
margin-left: 180px; /* Adjust the left margin */
padding-right: 10px; /* Adjust the right padding */
background-color: transparent; /* Transparent background */
color: #787D6D; /* Black text color */
border: 2px solid #787D6D; /* Black border */
border-radius: 4px; /* Slightly rounded border */
padding: 8px 20px; /* Adjust padding as needed */
text-align: center;
text-decoration: none;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
}


.custom-button:hover
{
background-color: #5E754D; /* Change background on hover */
color: white; /* Change text color on hover */
}




.custom-additional-button {
margin-top: 10px;
margin-left: 100px; /* Adjust the left margin */
padding-right: 10px; /* Adjust the right padding */
background-color: transparent;
border: 2px solid transparent; /* Transparent border */
border-radius: 5px;
padding: 2px; /* Padding set to 2 in both directions */
cursor: pointer;
color: black;
}


.custom-additional-button:hover
{
background-color: #f2f2f2; /* Change background on hover */
color: purple; /* Change text color on hover */
}




.about-text{
color: #787D6D;
}


.garden-text{
color: #;
}


.gradient-text {
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-size: 80px; /* Adjust the font size as needed */
text-align: center;
}


.container {
display: flex;
height: 100%;
}

.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.6);
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }

  .wavy {
    animation-name: wavy;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
  }
  @keyframes wavy {
    0% {
      top: 0px;
    }
    50% {
      top: -15px;
    }
    100% {
      top: 0px;
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

  .hover\:animate-bounce {
    animation: bounce 1.5s ease hover; /* Increase the duration (e.g., 1.5s) for a slower bounce */
  }